.round-button {
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
    border-radius: 50%;
    transition: background-color .15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border: 0;
    cursor: pointer;
}

.round-button:active {
    opacity: 0.6 !important;
}

.round-button:disabled {
    opacity: 0.6 !important;
}

.round-button__content {
    font-size: 17px;
    font-weight: 500;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-content: center;
}